/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
-Main
-Text
-Sticky-Nav
 */

/* 
========================================================================================
Main
========================================================================================
*/

body {
  color: #3D3B3B;
  font-family: Avenir, sans-serif, serif;
  margin: 0;
  padding: 0; 
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.wrapper {
  width: 92.5%;
  padding: 1em;
  margin: 0 auto;

}

.masonry {
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -moz-column-gap: 30px;
  -webkit-column-gap: 30px;
  column-gap: 30px;
  -moz-column-fill: initial;
  -webkit-column-fill: initial;
  column-fill: initial;
}
.masonry .brick {
  margin-bottom: 30px;
}

.masonry .brick img {
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

  //with react
  margin: 20px 0px;

}

.masonry .brick img:hover {
  opacity: .75;
  // -moz-transform: scale(1.1);
  // -webkit-transform: scale(1.1);
  // transform: scale(1.1);
}

.masonry.bordered {
  -moz-column-rule: 1px solid #eee;
  -webkit-column-rule: 1px solid #eee;
  column-rule: 1px solid #eee;
  -moz-column-gap: 50px;
  -webkit-column-gap: 50px;
  column-gap: 50px;
}
.masonry.bordered .brick {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
}
.masonry.gutterless {
  -moz-column-gap: 0;
  -webkit-column-gap: 0;
  column-gap: 0;
}
.masonry.gutterless .brick {
  margin-bottom: 0;
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    width: 80%;
    padding: 2em;
  }

  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    width: 85%;
    padding: 1.5em;
  }

  .masonry {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

.socialResize {
  max-width: 35px;
  height: auto;
  margin: 0 15px;
}

.inline {
  display: inline;
}

/* 
========================================================================================
Text
========================================================================================
*/
/* latin */
@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: local('Fredoka One'), local('FredokaOne-Regular'), url(https://fonts.gstatic.com/s/fredokaone/v4/SL0aFUFfkFMMdariYQ3_YYgp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.FredokaOne {
  font-family: 'Fredoka One';
}

.quote {
  font-size: 48px;
  font-weight: 400;
}

.nav a {
  text-decoration: none;
  color: #3D3B3B;
}

.nav a:hover {
  color: #DD3A48;
}

.red {
  color: #ec5656;
}

.signText {
  color: #ec5656;
  float: right;
  font-size: 22px;
  font-weight: 500;
  margin-right: 15px;

  a {
      text-decoration: underline;
      color: #ec5656;
    }

}

/* 
========================================================================================
Sticky-Nav
========================================================================================
*/

.nav {
  padding: 0px 0;
  background-color: white;
  position: -webkit-sticky;
  text-align: center;
}

.nav ul {
  padding: 0px;
  margin: 0 25px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.logo {
  background: url("https://twemoji.maxcdn.com/2/svg/1f622.svg") no-repeat;
  background-size: 20px;
  background-position: 0 100%;
  width: 20px;
  height: 20px;
  margin-top: 20px !important;
  position: relative;
  left: 25px;
}

.floatLeft {
  float: left;
}

.floatRight {
  float:right;
}



/* 
========================================================================================
Card
========================================================================================
*/
