<!DOCTYPE html>
<html>
  <head>
    <title>Please No Hate</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- Meta Information-->	
	<meta name="description" content="Hate Crimes Post Election.">
   <meta name="keywords" content="Hate Crimes, Donald Trump, Hillary Clinton, America, United States, Racist, Sexist, Violence, Xenophia, Division">
   <meta name="author" content="Rohit Tigga">
   <meta property="og:site_name" content="http://pleasenohate.com" />
	<!--    <meta property="og:image" content="http://connect.com/assets/img/connect-share.jpg" />-->   
   <meta property="og:title" content="Please No Hate" />
   <meta property="og:description" content="Compilation of Hate Crimes Post Election.">
   <meta property="og:url" content="http://pleasenohate.com" />
   <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0">
   <link rel="shortcut icon" href="/images/sad.png">
   <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css' />
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <!-- scripts below -->
   <!-- The core React library -->
  <script src="https://fb.me/react-15.2.0.js"></script>
  <!-- The ReactDOM Library -->
  <script src="https://fb.me/react-dom-15.2.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/javascripts/posts.js" type="text/babel"></script>
  </head>
  <body>
  <div class="nav">
  	<div class="floatLeft logo"></div>
		<a href=""><ul><h3></h3></ul></a>
	</div>
	<div class="wrapper">
  		<h1 class="FredokaOne quote">Hate Crimes Post Election #pleasenohate</h1>
  		<h2 class="inline">Share or stay silent.</h2>
  		<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//pleasenohate.com/"><img class="socialResize" src="/images/thebook.png"></a>
  		<a target="_blank" href="https://twitter.com/home?status=So%20many%20hate%20crimes%20after%20the%20election.%20This%20can't%20be%20America.%20http%3A//pleasenohate.com%20%23pleasenohate"><img class="socialResize" src="/images/theteeth.png"></a>
  		<div class="masonry">
  			<div id="hate-content"></div>
  		</div>
  		<h3 class="signText"><a target="_blank" href="http://www.rohittigga.com/">Rohit Tigga</a></h3>
	</div>
  </body>
</html>
